:root {
    --primary-color: #2B156B;
    --secondary-color: #5F2EEA;
    --tertiary-color: #AAAAAA;
    --body-color: #e5e5e5;
    --label-color: #4E4B66;
    --screen-wide: 1920px;
    --screen-regular: 1200px;
    --screen-tablet: 800px;
    --screen-mobile: 360px;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Mulish', sans-serif;
}

body {
    background: var(--body-color);
}

#dropdown-toggle:hover > #dropdown-menu {
    display: block;

}

#signup {
    background: var(--secondary-color);
    color: #ffffff;
    border: none;
    width: 150px;
}

#signup:hover {
    background: var(--primary-color);
}

#top, nav {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

#top-heading h6 {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
}

#top-heading h1 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
}

.box {
    width: 107px;
    height: 352px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 5px 8px 7px var(--tertiary-color);
}

.box img {
    height: 100%;
    object-fit: cover;
}

#mid {
    background: #F5F6F8;
}

#mid-heading h2, hr, #view-all h5, #bot-heading h2 {
    color: var(--secondary-color);
    font-weight: bold;
}

#mid-heading hr {
    height: 0.3rem;
    background: var(--secondary-color);
    opacity: 1;
}

.movie-frame {
    border: 0.25rem solid #ffffff;
    border-radius: 0.5rem;
}

#bottom {
    background: #ffffff;
}

#bot-section .movie-frame {
    border: 0.25rem solid #F5F6F8;
    border-radius: 0.5rem;
}

#month-btn .active {
    background: var(--secondary-color);
    color: #ffffff;
}

#month-btn button {
    border: 0.15rem solid var(--secondary-color);
    color: var(--secondary-color);
    width: 7.5rem;
}

#bot-section p {
    font-size: 0.6rem;
}

.btn-sm {
    border: 0.1rem solid var(--secondary-color);
    height: 25px;
}

.btn-sm a {
    color: var(--secondary-color);
    font-size: 0.6rem;
}

#subs-section {
    background: #ffffff;
}

.subs-container {
    box-shadow: -1px 4px 15px var(--tertiary-color);
    border-radius: 0.4rem;
}

#subs-section h1 {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 2rem;
}

#subs-section button {
    border: 0.15rem solid var(--secondary-color);
    color: var(--secondary-color);
}

#footer {
    background: #ffffff;
}

#footer-dropdown li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn-join:hover {
    background: var(--primary-color);
    color: #ffffff !important;
}

@media screen and (max-width: 992px) {
    #top {
        padding-top: 3rem;
        text-align: center;
    }

}

@media screen and (max-width: 575px) {
    .box {
        width: 200px;
        text-align: center;
    }
}